# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
**.pyc
.idea
.ropeproject
__pycache__
build
mentor_finder/sensitive
.coverage
secret_env_vars
*.deb
**.log
