{% extends "base.html" %}
{% block title %}Landing page{% endblock %}
{% block content %}
<div id="student">
  <p>Want to learn from experienced proffessionals? Have a strong desire to
  learn and be the best you can be? Sign up to find a mentor in an area that
  interests you.</p>
  <div class="enter_button">STUDENT</div>
</div>
<div id="mentor">
  <p>Interested in sharing your knowledge? Are you a good teacher? Come and be a
  mentor for enthusiastic students</p>
  <div class="enter_button">MENTOR</div>
</div>
{% endblock %}
