{% extends "base.html" %}
{% block title %}Mentor Signup{% endblock %}
{% block content %}
<form action="addmentor" method="post">
  <div id="mandatory">
    <p>Email(*):                 <input name="email" type="text" required></p>
    <p>Password(*):              <input name="password" type="password" required></p>
    <p>Password confirmation(*): <input type="password" required="true"></p>
    <p>First name(*):            <input name="first_name" type="text" required></p>
    <p>Last name(*):             <input name="last_name" type="text" required></p>
    <p>County(*):</p>            <input name="county" type="text" required></p>
    <p>Date of birth(*):         <input name="dob_day" type="text" placeholder="DD" required>
                              <select name="dob_month">
                                <option value=1>January</option>
                                <option value=2>February</option>
                                <option value=3>March</option>
                                <option value=4>April</option>
                                <option value=5>May</option>
                                <option value=6>June</option>
                                <option value=7>July</option>
                                <option value=8>Auguest</option>
                                <option value=9>September</option>
                                <option value=10>October</option>
                                <option value=11>November</option>
                                <option value=12>December</option>
                              </select>
                              <input name="dob_year" type="text" placeholder="YYYY">
    <p>Description(*):           <textarea name="description" placeholder="Type a little bit about yourself and what you hope to get out of the mentoring process" required></textarea></p>
  </div>
  <div id="optional">
    <p>Keywords (comma separated):<input type="text"></p>
    <p>Personal site:         <input type="text"></p>
    <p>Twitter ID:            @<input type="text"></p>
    <p>LinkdenIn:             <input type="text"></p>
    <p>Github:                <input type="text"></p>
  </div>
  <input type="submit" value="Cancel">
  <input type="submit" value="Submit">
</form>
{% endblock %}
