<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/simplegrid.css">
  <link rel="stylesheet" href="static/css/main.css">
  {% block head %}
  {% endblock %}
</head>
<body>
<div id="content">
{% block content %}{% endblock %}
</div>
<footer>
    <hr>
   <table>
       <tr>
           <td><a href="/">Landing page</a></td>
           <td><a href="/mentor_signup">Mentor signup</a></td>
           <td><a href="/mentor_listings">Mentor listings</a></td>
       </tr>
   </table>
</footer>
</body>
</html>
