<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/lib/normalize.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/lib/placeholder_polyfill.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/webshim/1.14.2/minified/polyfiller.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>webshim.polyfill('forms forms-ext');</script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
<footer>
    <hr>
    <table>
        <tr>
            <td><a href="/">Landing page</a></td>
            <td><a href="/mentor_signup">Mentor signup</a></td>
            <td><a href="/mentor_listings">Mentor listings</a></td>
        </tr>
    </table>
</footer>
</body>
</html>
