/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team. */
/* ==========================================================================
 * Base styles: opinionated defaults
 * ========================================================================== */
html, button, input, select, textarea {
  color: #222222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design. */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440 */
audio, canvas, img, video {
  vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* ==========================================================================
 * Browse Happy prompt
 * ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0; }

/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */
.content {
  margin: 0px auto; }

.error {
  border-radius: 10px;
  width: 600px;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 1em;
  margin: 1em auto;
  background-color: #ff606f; }

.enter_button {
  width: 200px;
  height: 450px;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  background: #eeeeee;
  box-shadow: 10px 10px 5px 0 #888888;
  border: 1px solid #999988; }

#register-mentor {
  width: 30%;
  margin: 0 auto; }
  #register-mentor label, #register-mentor legend {
    width: 100%;
    display: block;
    float: left;
    text-align: left; }
  #register-mentor input, #register-mentor select, #register-mentor textarea {
    display: block;
    width: 100%;
    float: right;
    border-radius: 5px; }
    #register-mentor input[name="twitter_id"], #register-mentor select[name="twitter_id"], #register-mentor textarea[name="twitter_id"] {
      width: calc(100% - 1.5em); }
  #register-mentor .optional {
    margin-top: 60px; }
  #register-mentor[type="submit"] {
    width: 5em;
    margin: 0 auto; }

.mentor {
  width: 720px;
  margin: 10px auto;
  padding: 0px 10px;
  outline: #111111 dashed 1px; }
  .mentor .name {
    font-size: 1.2em; }
  .mentor .county {
    font-style: italic; }
  .mentor h1 {
    text-align: center; }

footer {
  width: 100%;
  height: 70px;
  margin-top: 100px; }
  footer table {
    width: 100%; }
    footer table td {
      text-align: center; }
      footer table td a {
        color: #555555;
        text-decoration: none; }

.keywords .keyword {
  border-radius: 5px;
  padding: 4px;
  background-color: #eeeeee; }

/* ==========================================================================
 * Helper classes
 * ========================================================================== */
/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements. */
.clearfix {
  /* 2 */
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    /* 1 */
    display: table; }
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both; }

/* For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats. */
/* ==========================================================================
 * EXAMPLE Media Queries for Responsive Design.
 * These examples override the primary ('mobile first') styles.
 * Modify as content requires.
 * ========================================================================== */
/* Style adjustments for viewports that meet the condition */
/* Style adjustments for high resolution devices */
/* ==========================================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* Don't show links for images, or javascript/internal links */
  .ir a:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
